<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<title>Document</title>
</head>
<body>

	<div id="app">
		<h2>Todo List</h2>

		<form @submit.prevent="addList($event)">
			<input type="text" name="name">
			<button type="submit">Add To list</button>
		</form>

		<p v-for="todo in todos">
			{{todo.name}}
			<button @click="removeList(todo._id)">Remove</button>
			<button>Edit</button>
		</p>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				todos: []
			},
			created() {
			    axios.get('/todo').then((todos) => {
			        console.log(todos.data)
				    this.todos = todos.data
				    console.log(this.todos)
				})
			},
			methods: {
			    addList(e) {
			        axios.post('/todo', {
			            name: e.target.elements.name.value
			        }).then((data) => {
			            console.log(data)
                        this.todos.unshift(data.data)
			        })
			    },
				removeList(id) {
			        axios.delete(`/todo/${id}`).then((todo) => {

						this.todos = this.todos.filter((item) => {
						    return item._id != id
                        });
			        })
				}
			}
		})
	</script>

</body>
</html>